<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department Jobs</title>
    <link rel="stylesheet" href="/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/jobs-edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="job-filter">
            <h2>Search Jobs</h2>
            <form action="/filter-job-post" method="post">
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text" id="Title" name="Title" placeholder="Search by Title">
                </div>
                <div class="form-group">
                    <label for="Description">Description:</label>
                    <input type="text" id="Description" name="Description" placeholder="Search by Description">
                </div>
                <div class="form-group">
                    <label for="Department">Department</label>
                    <select name="Department">
                        <option>None</option>
                        <option>Patrol Division</option>
                        <option>Investigative Division</option>
                        <option>Special Operations</option>
                        <option>Support Services</option>
                        <option>Administrative Division</option>
                        <option>Specialized Units</option>
                        <option>Emergency Management</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Location_type">Location Type</label>
                    <select name="Location_type">
                        <option>None</option>
                        <option>On Site</option>
                        <option>Work From Home</option>
                        <option>Hybrid</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Location">Location</label>
                    <input type="text" name="Location" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="Type">Type</label>
                    <select name="Type">
                        <option>None</option>
                        <option>Full Time</option>
                        <option>Part Time</option>
                        <option>Temporary</option>
                        <option>Contract</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="apply-button">Apply Filter</button>
                </div>
            </form>
        </div>
        <section class="job-listings">
            <h2 class="ownFont">Current Job Openings</h2>
            <% for (let i=0; i<data.length; i++) { %>
                <article class="job">
                    <h3 class="ownFont"><%= data[i].title %></h3>
                    <div class="job-details">
                        <p><strong>Description:</strong> <%= data[i].description %></p>
                        <p><strong>Department:</strong> <%= data[i].department %></p>
                        <p><strong>Location Type:</strong> <%= data[i].location_type %></p>
                        <p><strong>Location:</strong> <%= data[i].location %></p>
                        <p><strong>Type:</strong> <%= data[i].type %></p>
                    </div>
                    <p class="posted-on">Posted on: <%= new Date(data[i].posted_on).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                    <p class="posted-on">Last Apply Date: <%= new Date(data[i].last_apply_date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
                    <a href="/applications/<%= data[i].id %>"><button class="apply-button">See Applications</button></a>
                    <a href="/delete-job/<%= data[i].id %>"><button class="apply-button delete-button">Delete Job</button></a>
                </article>
            <% } %>
            <a href="/job-post"><button class="apply-button">New Post</button></a>
        </section>
    </div>
    <script src="/jobs-edit.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
