<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department</title>
    <link rel="stylesheet" href="/css/news-announcements/news-announcements-add.css">
</head>
<body>
    <p style="display: none;" id="initial_likes"><%= likes %></p>
    <p style="display: none;" id="initial_comments"><%= comments_count %></p>
    <p style="display: none;" id="news_id_data"><%= news_id %></p>
    <p style="display: none;" id="posted_on_data"><%= posted_on %></p>
    <section class="news-container">
        <% for (let i=0; i<newselements.length; i++) { %>
            <div class="news-element" id="<%= newselements[i].order_number %>">
                <% if (newselements[i].type == 'Heading') { %>
                    <h2 class="news-heading"><%= newselements[i].text %></h2>
                <% } else if (newselements[i].type == 'text') { %>
                    <p class="news-text"><%= newselements[i].text.trim() %></p>
                <% } else if (newselements[i].type == 'image') { %>
                    <div class="image-container">
                        <img src="/images/<%= newselements[i].image_number %>" class="news-image">
                    </div>
                    <p class="caption"><%= newselements[i].caption %></p>
                <% } else if (newselements[i].type == 'video') { %>
                    <video class="news-video" controls>
                        <source src="/images/<%= newselements[i].image_number %>" type="video/*">
                    </video>
                    <p class="caption"><%= newselements[i].caption %></p>
                <% } %>
            </div>
        <% } %>
        <p id="posted_on">Posted on: </p>
        <div class="like-comments">
            <div class="like-comments-container">
                <p id="likes" data-icon="ðŸ‘">Likes: <%= likes %></p>
                <p id="comments_count" data-icon="ðŸ’¬">Comments: <%= comments_count %></p>
                <% if (!liked) { %>
                    <a href="/like/<%= news_id %>" class="like-button"><button>Like</button></a>
                <% } else { %>
                    <a href="/unlike/<%= news_id %>" class="like-button"><button>Unlike</button></a>
                <% } %>
            </div>            
            <form action="/comment/<%= news_id %>" method="post" class="comment-form">
                <textarea name="comment" class="comment-textarea"></textarea>
                <input type="submit" value="Submit" class="submit-button">
            </form>
            <div class="original-comments">
                <h3>Comments</h3>
                <div id="comments">
                    <% for (let i=0;i<comments.length;i++) { %>
                        <div style="margin: 20px;">
                            <h4><%= users[i] %></h4>
                            <p><%= comments[i].text %></p>
                            <p id="p<%= i %>">Posted on: </p>
                            <p style="display: none;" class="posted_on" data-date="<%= comments[i].posted_on %>"><%= comments[i].posted_on %></p>
                            <br>
                            <hr>
                        </div>
                    <% } %> 
                </div>
            </div>            
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const postedOnData = document.getElementById('posted_on_data').innerText;
            const postedOnElement = document.getElementById('posted_on');
            const formattedDate = new Date(postedOnData).toLocaleString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit'
            });
            postedOnElement.innerText = `Posted on: ${formattedDate}`;

            document.querySelectorAll('.posted_on').forEach(el => {
                const date = new Date(el.getAttribute('data-date')).toLocaleString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit'
                });
                const parent = el.previousElementSibling;
                parent.innerText = `Posted on: ${date}`;
            });
        });
    </script>
</body>
<script src="/js/news-announcement-view.js" ></script>
</html>
