<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/news-announcements/news-announcements-add.css">
    <link href="/css/scrollbar.css" rel="stylesheet" >
</head>

<body>
    <%- include('../partials/navbar') %>
    <% if (new_news) { %>
        <div class="add_heading add_text">
            <form action="/add-heading/<%= news_id %>/<%= user_id %>" method="post">
                <textarea name="heading" placeholder="Add Heading"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>
        <% } else { %>
            <p style="display: none;" id="news_id_data"><%= news_id %></p>
            <p style="display: none;" id="initial_likes"><%= likes %></p>
            <p style="display: none;" id="initial_comments"><%= comments_count %></p>
            <section class="news-container" >
            <% for (let i=0;i<newselements.length;i++) { %>
                <div style="margin: 10px;" id="<%= newselements[i].order_number %>" class="news-element">
                    <% if (newselements[i].type=='Heading' ) { %>
                        <h2 class="news-heading">
                            <%= newselements[i].text %>
                        </h2>
                        <div style="display: none;" id="u<%= newselements[i].order_number %>" class="add_text">
                            <form
                                action="/update-heading/<%= news_id %>/<%= user_id %>/<%= newselements[i].order_number %>"
                                method="post">
                                <textarea name="heading" placeholder="Updated Heading" required></textarea>
                                <input type="submit" value="Update">
                            </form>
                            <button class="cancel-button-2" order_number="<%= newselements[i].order_number %>">Cancel</button>
                        </div>
                        <% } else if (newselements[i].type=='text' ) {%>
                            <p style="white-space: pre-wrap;" class="news-text"><%= newselements[i].text.trim() %></p>
                            <div style="display: none;" id="u<%= newselements[i].order_number %>" class="add_text">
                                <form
                                    action="/update-text/<%= news_id %>/<%= user_id %>/<%= newselements[i].order_number %>"
                                    method="post">
                                    <textarea name="content" placeholder="Add Text"
                                        style="white-space: pre-wrap;" required></textarea>
                                    <input type="submit" name="Add">
                                </form>
                                <button class="cancel-button-2" order_number="<%= newselements[i].order_number %>">Cancel</button>
                            </div>
                            <% } else if (newselements[i].type=='image' ) {%>
                                <div class="image-container">
                                <img src="<%= newselements[i].path %>"
                                    class="<%= newselements[i].type %>">
                                </div>
                                <p class="caption">
                                    <%= newselements[i].caption %>
                                </p>
                                <div style="display: none;" id="u<%= newselements[i].order_number %>">
                                    <form
                                        action="/update-image/<%= news_id %>/<%= user_id %>/<%= newselements[i].order_number %>"
                                        method="post" enctype="multipart/form-data"  class="image-form">
                                        <input type="file" name="image" accept="image/*" class="file-input" required>
                                        <textarea name="caption" placeholder="Add Caption" class="caption-textarea"></textarea>
                                        <input type="submit" name="Add" class="submit-button-2">
                                    </form>
                                    <button class="cancel-button-2" order_number="<%= newselements[i].order_number %>">Cancel</button>
                                </div>
                                <% } else if (newselements[i].type=='video' ){ %>
                                    <video class="news-video" src="<%= newselements[i].path %>" controls>
                                    </video>
                                    <p class="caption"><%= newselements[i].caption %></p>
                                    <div style="display: none;" id="u<%= newselements[i].order_number %>">
                                        <form
                                            action="/update-video/<%= news_id %>/<%= user_id %>/<%= newselements[i].order_number %>"
                                            method="post" enctype="multipart/form-data" class="image-form">
                                            <input type="file" name="video" accept="video/*" class="file-input" required>
                                            <textarea name="caption" placeholder="Add Caption" class="caption-textarea"></textarea>
                                            <input type="submit" name="Add" class="submit-button-2">
                                        </form>
                                        <button class="cancel-button-2" order_number="<%= newselements[i].order_number %>">Cancel</button>
                                    </div>
                                    <% } %>
                                    <div id="updatedelete<%= newselements[i].order_number %>">
                                        <a
                                            href="/delete/<%= news_id %>/<%= user_id %>/<%= newselements[i].order_number %>"><button class="btn btn-danger">Delete</button></a>
                                        <button class="update btn btn-primary"
                                            order_number="<%= newselements[i].order_number %>">Update</button>
                                    </div>
                </div>
                <% } %>
                <div id="add">
                    <button id="add_text_button" class="btn btn-primary">Add Text</button>
                    <button id="add_image_button" class="btn btn-primary">Add Image</button>
                    <button id="add_video_button" class="btn btn-primary">Add Video</button>
                </div>
                <div class="add_text" id="add_text" style="display: none;">
                    <form action="/add-text/<%= news_id %>/<%= user_id %>" method="post">
                        <textarea name="content" placeholder="Add Text" style="white-space: pre-wrap;" required></textarea>
                        <input type="submit" name="Add">
                    </form>
                    <button id="add_text_cancel_button" class="cancel-button" to_remove="add_text">Cancel</button>
                </div>
                <div id="add_image" style="display: none;">
                    <form action="/add-image/<%= news_id %>/<%= user_id %>" method="post"
                        enctype="multipart/form-data" class="image-form">
                        <input type="file" name="image" accept="image/*" class="file-input" required>
                        <textarea name="caption" placeholder="Add Caption" class="caption-textarea"></textarea>
                        <input type="submit" name="Add" class="submit-button-2">
                    </form>
                    <button class="cancel-button" id="add_image_cancel_button" to_remove="add_image">Cancel</button>
                </div>
                <div id="add_video" style="display: none;">
                    <form action="/add-video/<%= news_id %>/<%= user_id %>" method="post"
                        enctype="multipart/form-data" class="image-form">
                        <input type="file" name="video" accept="video/*" class="file-input" required>
                        <textarea name="caption" placeholder="Add Caption" class="caption-textarea"></textarea>
                        <input type="submit" name="Add" class="submit-button-2">
                    </form>
                    <button class="cancel-button" id="add_video_cancel_button" to_remove="add_video">Cancel</button>
                </div>
                
            </section>
                    
                    <% if (locals.posted_on) { %>
                        <p style="display: none;" id="posted_on_data"><%= posted_on %></p>
                        <p id="posted_on">Posted on: </p>
                    <% } %>
                    <section class="like-comments">
                        <div class="like-comments-container">
                        <p id="likes" data-icon="ðŸ‘">Likes: <%= likes %></p>
                        <p id="comments_count" data-icon="ðŸ’¬">Comments: <%= comments_count %></p>
                        <% if (!liked) { %>
                            <a href="/like-admin/<%= news_id %>" class="like-button"><button>Like</button></a>
                        <% } else { %>
                            <a href="/unlike-admin/<%= news_id %>" class="like-button"><button>Unlike</button></a>
                        <% } %>
                        </div>
                        <form action="/comment-admin/<%= news_id %>" method="post" class="comment-form">
                            <textarea name="comment" class="comment-textarea"></textarea>
                            <input type="submit" value="Submit" class="submit-button">
                        </form>
                        <div class="original-comments">
                            <h3>Comments</h3>
                            <div id="comments">
                                <% for (let i=0;i<comments.length;i++) { %>
                                    <div style="margin: 20px;">
                                        <h4><%= users[i] %></h4>
                                        <p><%= comments[i].text %></p>
                                        <p id="p<%= i %>">Posted on: </p>
                                        <p style="display: none;" class="posted_on" iterator="<%= i %>"><%= comments[i].posted_on %></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </section>
                    <% } %>
</body>
<script src="/js/news-announcement-add.js"></script>
<script>
    function getDateTime(date) {
        let day = date.getDate();
        let month = date.getMonth()+1;
        let year = date.getFullYear();
        let hours = date.getHours();
        let minutes = date.getMinutes();
        day = day<10?`0${day}`:day;
        month = month<10?`0${month}`:month;
        year = year<10?`0${year}`:year;
        hours = hours<10?`0${hours}`:hours;
        minutes = minutes<10?`0${minutes}`:minutes;
        return `${day}/${month}/${year} ${hours}:${minutes}`;
    }
    let posted_on = new Date(document.getElementById('posted_on_data').textContent);
    document.getElementById('posted_on').textContent+=getDateTime(posted_on);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>